# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
eclipse
server.pid

*.pyc

.DS_Store

**/.DS_Store

lib/*.jar

samples-and-tests/sc-bs-test/tmp/*

samples-and-tests/sc-bs-test/modules/*
samples-and-tests/sc-bs-test/app/controllers/Bars.java

samples-and-tests/sc-bs-test/app/controllers/Foos.java

samples-and-tests/sc-bs-test/app/views/Bars/*

samples-and-tests/sc-bs-test/app/views/Foos/*

nbproject
